.App {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  display: grid;
  grid-gap: 10px;
}

@media (max-width: 900px) {
  .App {
    display: flex;
    flex-flow: column nowrap;
  }
}
