.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  grid-gap: 20px;
  grid-auto-columns: 50%;
  padding: 80px;
}

@media (max-width: 900px) {
  .App {
    display: flex;
    flex-flow: column nowrap;
  }
}
